{% extends 'base.html' %}

{% block head %}
<title>Home Page</title>
{% endblock %}

{% block body %}
<br><br><br>
<figure class="text-center" >
    <p style = 'color:#8C6C5A; font-size: 32px;'>코.듣.뮤♬</p>
  <figcaption class="blockquote-footer" style="font-size: 24px;">
    코딩할때 듣는 뮤직</cite>
  </figcaption>
</figure>

<br>
<br>
<main role="main">
    <div class="jumbotron" >
        <div class="center" style="color:#D9D5D2">
            <h2 style = "font-size: 24px;"><span style = "font-size: 32px;">코</span>딩 할때 <span style = "font-size: 32px;">
            듣</span>는 <span style = "font-size: 32px;">뮤</span>직</h2></h2><br><br>
                <ul>
                    <li style = "font-size: 20px;" >코딩 할 때 주로 듣는 음악을 추가하세요!</li><br>
                    <li style = "font-size: 20px;"> 해당 곡 Youtube 링크를 함께 넣어주세요!</li><br>
                    <li style = "font-size: 20px;"> 삭제와 수정도 가능합니다!</li><br>
                    <li style = "font-size: 20px;"> Code 메뉴를 클릭하시면 Github로 이동합니다!</li>

        </div>
    </div>
</main>
{% endblock %}