{% extends 'base.html' %}

{% block head %}
<title>Home Page</title>
{% endblock %}

{% block body %}
<br>
<h1><span style = 'color:SlateBlue;'>코</span>.<span style = 'color:Tomato;'>듣</span>.<span style = 'color:Violet
;'>뮤</span></h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="center">
            <h2 style = "font-size: 32px;"><span style = 'color:SlateBlue;'>코딩 할때</span> <span style = 'color:Tomato;'>
            듣는</span> <span style = 'color:Violet;'>뮤직</span></h2></h2><br>
                <ul>
                    <li style = "font-size: 20px;" >코딩 할 때 주로 듣는 음악을 추가하세요!</li>
                    <li style = "font-size: 20px;"> 해당 곡 Youtube 링크를 함께 넣어주세요!</li>
                    <li style = "font-size: 20px;"> 삭제와 수정도 가능합니다!</li>

        </div>
    </div>
</main>
{% endblock %}